.menu, .menu-item{
    list-style: none;
    padding:0;
    margin:0;
}

.menu-item{
    float:left;
}

.menu-item a{
    text-decoration: none;
    color:black;
    background:white;
    padding:5px;
    transition:all .5s ease-out;
}

.menu-item a:hover{
    background:rgb(209, 164, 226);
    transition:all .3s ease-out;
}